<div>
    {{#each posts as |post|}}
    <article>
        <div>
            <h3>{{title}}</h3>
            <h4>Posted by {{user.username}} on {{format_date created_at}}</h4>
            <a href="/post/{{id}}">View Full Post</a>
        </div>
    </article>
    {{/each}}
</div>