<form class="login-form">
    <div>
        <label for="username-login" class="form-label">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for="password-login" class="form-label">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit" id="login-btn">Login</button>
    </div>
</form>

<form class="signup-form">
    <div>
        <label for="username-signup" class="form-label">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup" class="form-label">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit" id="signup-btn">Sign Up</button>
    </div>
</form>

<script src="/javascript/login.js"></script>