* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

/************************************************/

/* space header */
header {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  margin-bottom: 1%;
  padding: 0.25% 0;
}

/* space nav bar */
nav {
  margin: 0.5% 1.5% 0 0;
}

/* create space left of the elements */
h1,
h2, 
h3, 
h5, 
h6,
form, 
div.text,
div.meta,
a.post {
  margin-left: 1%;
}

/* make smaller headers a lighter color */
h5, h6 {
color: rgb(100, 100, 100);  
}

/* put space between posts */
.post-preview {
  margin-top: 1%;
}

/* space and add color to comment section */
.comments {
  margin-top: 1%;
  background-color: whitesmoke;
}

/* put space between comments */
.comment {
  margin-top: 0.5%;
}

/* make comment text bold */
.text {
  font-weight: 600;
}

/* create space between buttons and forms */
#login-btn,
#signup-btn {
  margin-bottom: 12%;
}

/* style comment form box */
#create-comment {
  margin-top: 0.75%;
  width: 18%;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* style post text form box */
#post-body,
#edit-body {
  width: 25%;
  border-radius: 4px;
  font-size: 16px;
  resize: none;  
}

/* put space between create post form and your post section */
#your-posts {
  margin-top: 1%;
}

/* put space between create new post title and header */
#create-post {
  margin-bottom: 1%;
}

/* add background color to your posts section */
.your-posts {
  background-color: whitesmoke;
}

#edit-post {
  margin-bottom: 1%;
}
/* put footer at bottom center of the page */
footer {
  display: flex;
  justify-content: center;
  margin-top: 14.5%;
}